# PostgreSQL Connection String (e.g. from Neon, Supabase, Vercel Postgres)
# Must start with postgresql:// or postgres://
DATABASE_URL="postgresql://username:password@ep-sample-host.region.aws.neon.tech/achira?sslmode=require"

PORT=5000
JWT_SECRET="achira_jwt_secret_token_couture_2026"
